# Xcode
build/
*.xcarchive
*.xcuserdata
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build output
*.dmg
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/

# Secrets (никогда не коммитить!)
*.p12
*.mobileprovision
secrets.yml
